* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", serif;
}

:root {
  --bool-primary: #ff6900;
  --bool-dark: #1a1a1a;
  --bool-light: #e6e4e2;
  --bool-lighter: #ffffff;
  --bool-sale: #ff0000;
  --bool-tag: #008000;
}

a {
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--bool-lighter);
  height: 100%;
}

/*General Rules*/

.d-flex {
  display: flex;
}

.item_discount,
.item_tag {
  padding: 0.4rem;
  color: var(--bool-lighter);
  font-weight: 600;
}

.first_tag {
  position: absolute;
  top: 80%;
  left: 0px;
  z-index: 10;
}

.second_tag {
  position: absolute;
  top: 80%;
  left: 60px;
  z-index: 10;
}

.item_tag {
  background-color: var(--bool-tag);
}

.item_discount {
  background-color: var(--bool-sale);
}

.relative {
  position: relative;
}

.disc_price {
  color: var(--bool-sale);
  font-weight: 600;
}

.og_price {
  text-decoration: line-through;
  padding-left: 0.5rem;
}

strong {
  text-transform: uppercase;
}

p {
  text-transform: capitalize;
}
/*Utilities*/

/*Header Start*/

header {
  position: fixed;
  z-index: 100;
  width: 100%;
  background-color: var(--bool-primary);
  color: var(--bool-lighter);
  justify-content: space-around;
  padding: 1rem;
  .nav1 {
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: var(--bool-lighter);
    a {
      color: inherit;
    }
  }
  .logo {
    height: 2rem;
  }
  .nav2 {
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    color: inherit;
  }
}

/*Header Finish*/

/*Main Start*/

#header_divider {
  background-color: var(--bool-lighter);
  height: 4rem;
}

main {
  max-width: 75%;
  margin: auto;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.item {
  width: 30%;
}

.item_container {
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.item_img {
  max-width: 100%;
  z-index: 0;
}

.item_info {
  flex-direction: column;
  gap: 0.2rem;
  a {
    color: var(--bool-dark);
  }
}

.heart {
  position: absolute;
  bottom: 90%;
  left: 95%;
  background-color: var(--bool-lighter);
  padding: 1rem;
  z-index: 10;
  transform: translate(-50%);
}

.heart:hover {
  color: var(--bool-sale);
}

.hover_pic {
  max-width: 100%;
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
}

.item:hover {
  .hover_pic {
    display: inline;
  }
}

/*Main Finish*/

/*Footer Start*/

footer {
  background-color: var(--bool-dark);
  color: var(--bool-lighter);
  padding: 3rem 16rem;
  flex-direction: row;
  justify-content: space-between;
  .lfooter {
    flex-direction: column;
    gap: 0.5rem;
    .legal-links {
      gap: 0.5rem;
      a {
        font-weight: lighter;
        color: var(--bool-lighter);
        font-weight: normal;
      }
    }
    h1 {
      font-size: 1.4rem;
    }
  }
  .rfooter {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    h2 {
      font-size: 1rem;
    }
    .socials {
      gap: 0.5rem;
    }
    a {
      color: var(--bool-dark);
    }
    i {
      background-color: var(--bool-lighter);
      padding: 3px;
      border-radius: 5px;
    }
  }
}
